

{% raw %}

<div id="confirmDeleteDraftDialog" data-ng-show="confirmDeleteDraft" class="popover show" data-ng-controller="EditCtrl">
  <div class="popover-inner">
    <button class="close" data-ng-click="confirmDeleteDraft.abort()">&times;</button></h3>
</div>

<div class="popover-content" data-ng-controller="EditCtrl">
  <h4>Vill du verkligen ta bort utkastet?</h4>
  <button class="btn btn-success" data-ng-click="confirmDeleteDraft.execute()">Ja</button></h3>
  <button class="btn btn-warning" data-ng-click="confirmDeleteDraft.abort()">Nej</button></h3>
  </div>
</div>

<div class="content bib" id="prelude" data-ng-controller="EditCtrl">
  <form name="form" id="record" class="form-horizontal">
  <div id="grid"></div>
    <!--<div data-ng-view></div>-->
  <header>
    <h1>Bibliografisk post</h1>
    <div class="levels">
      <span>{{ enums.bibLevel[record.bibLevel].label_sv }}</span>
      <span>{{ enums.encLevel[record.encLevel].label_sv }}</span>
      <span>{{ enums.catForm[record.catForm].label_sv }}</span>
    </div>
    <div class="modes">
      <a href="#" class="active">LIBRIS</a>
      <a href="/jsonld{{ record['@id'] }}">JSON-LD</a>
      <a href="#" class="beta-blocker">MARC</a>
    </div>
  </header>

  <section id="instance" name="instance" data-ng-repeat="instance in [record.about]">
    <ng-form name="subform">
    <!-- <h2 data-ng-click="cycleType($event, instance)"> <span>{{ getTypeDef(instance).label_sv }}</span><i></i></h2> -->
    <h2>Titel &amp; upphov<i></i></h2>
    <div class="cols" data-ng-init="work = record.about.instanceOf">
      <div class="col6" data-ng-init="title = instance.title">
        <label>
          <span class="lbl">{{ "Huvudtitel" }}</span>
          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="title.titleValue"></textarea>
        </label>
      </div>
      <div class="col6">
        <label>
          <span class="lbl">{{ "Upphov" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.responsibilityStatement"></textarea>
        </label>
      </div>
      <div class="col6">
        <label>
          <span class="lbl">{{ "Övrig titelinformation" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="title.subtitle">{{ title.subtitle }}</textarea>
        </label>
      </div>
      <div class="col6">
        <label class="ng-binding">
          <span class="lbl">{{ "Språk" }}</span>
          <div data-ng-init="editable = !(work.language.langCode)">
            <div data-ng-hide="editable" data-ng-click="editable=!editable" class="fakeinput">
              <span>
                {{ work.language.prefLabel }}
                <i data-ng-show="work.language.langCode">({{ work.language.langCode }})</i>
              </span>
            </div>
            <div data-ng-show="editable">
              <input type="text" data-inplace class="authdependant"
                    data-kitin-autoselect="field"
                    data-kitin-template="select-language-template" />
            </div>
          </div>
        </label>
        <script type="text/html" id="select-language-template">
          <div class="auth">
            <h4>
            <span class="name"><%= prefLabel %></span><span class="date"> <%= langCode %></span>
            </h4>
          </div>
        </script>
      </div>
    </div>
    <div class="todo">
      <div data-ng-show="work.creator"
           onload="subj = work; rel = 'creator'; person = work.creator"
           data-ng-include="'render-person'"></div>
      <button class="add-thing btn-link" data-ng-click="newObject(work, 'creator', 'Person')">{{ 'Huvuduppslag' }}
        <i data-ng-hide="work.creator" class="fa fa-plus-circle"></i></button>
      <hr />
      <div data-ng-repeat="person in work.contributorList"
           onload="subj = work; rel = 'contributorList'" data-ng-include="'render-person'"></div>
      <button class="add-thing btn-link" data-ng-click="addObject(work, 'contributorList', 'Person')">{{ 'Biuppslag' }} <i class="fa fa-plus-circle"></i></button>
    </div>

    <script type='text/ng-template' id="modal-edit-auth"> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Auktoritetspost ({{ instance['@type'] }})</h4>
          </div>
          <div class="modal-body" data-ng-controller="EditCtrl">
            <form name="form" id="record" class="form-horizontal">
              <div id="instance" name="instance" data-ng-repeat="instance in [record.about]">
                  <ng-form name="subform">
                    <div class="cols">
                      <div class="col4" data-ng-init="title = instance.title">
                        <label>
                          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.familyName">{{ instance.familyName }}</textarea>
                          <span class="lbl">{{ "Efternamn" }}</span>
                        </label>
                      </div>
                      <div class="col4" data-ng-init="title = instance.title">
                        <label>
                          <textarea data-inplace class="title" data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.givenName">{{ instance.givenName }}</textarea>
                          <span class="lbl">{{ "Fornamn" }}</span>
                        </label>
                      </div>
                      <div class="col2" data-ng-init="title = instance.title">
                        <label>
                          <input type="text" data-inplace data-ng-model="instance.birthYear"/>
                          <span class="lbl">{{ "Fodelsear" }}</span>
                        </label>
                      </div>
                       <div class="col2" data-ng-init="title = instance.title">     
                        <label>
                          <input type="text" data-inplace data-ng-model="instance.deathYear"/>
                          <span class="lbl">{{ "Dodsar" }}</span>
                        </label>
                      </div> 
                    </div>
                    <div class="cols">  
                      <div class="col6 multifield">
                          <label data-ng-repeat="person in instance.hasVersion"><input type="text" data-inplace data-ng-model="person.controlledLabel"></label>
                <!--
                          <label><input type="text" data-inplace></label>
                          <label><input type="text" data-inplace></label>
                          <label><input type="text" data-inplace></label>
                          <label><input type="text" data-inplace></label>
                -->
                          <span class="lbl">{{ "Alternativt namn" }}</span>
                        </label>
                      </div>
                    </div>
                    <div class="cols">
                      <div class="col6">
                        <label>
                          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.note">{{ instance.note }}</textarea>
                          <span class="lbl">{{ "Biografisk uppgift" }}</span>
                        </label>
                      </div>
                      <div class="col6 multifield">
                          <label data-ng-repeat="source in instance.hasForm"><input type="text" data-inplace data-ng-model="source.label"></label>
                          <span class="lbl">{{ "Kalla" }}</span>

                      </div>
                    </div>
                  </ng-form>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <span class="authorized" data-ng-show="data['@id']"><i class="fa fa-check-circle-o"></i> Auktoriserad</span>
            <button type="button" class="btn btn-primary">Uppdatera</button>
          </div>
        </div>
      </div>
    </script> 

    <script type="text/ng-template" id="render-person">
      <div class="entity person" data-ng-init="editable = !(person.controlledLabel || person.givenName)">
        <div class="col3" data-ng-hide="editable">
          <label data-ng-click="editable=!editable">
            <span data-ng-include="'render-person-name'"></span> &nbsp;</label>
        </div>
        <div class="addon" data-ng-show="editable">
          <label>
            <input data-inplace type="text" 
                   data-ng-model="person.givenName" data-kitin-autocomplete="person" />
            <span class="lbl">{{ "Förnamn" }}</span>
          </label>
          <label>
            <input data-inplace type="text" 
                   data-ng-model="person.familyName" data-kitin-autocomplete="person" />
            <span class="lbl">{{ "Släktnamn" }}</span>
          </label>
        </div>
        <div class="addon" data-ng-show="editable">
          <label>
            <input type="text" data-inplace authdependant placeholder="ÅÅÅÅ" data-ng-model="person.birthYear" />
            <span class="lbl">{{ "Född" }}</span>
          </label>
          <label>
            <input type="text" data-inplace authdependant placeholder="ÅÅÅÅ" data-ng-model="person.deathYear" />
            <span class="lbl">{{ "Död" }}</span>
          </label>
          <div data-ng-controller="ModalCtrl">
            <button class="btn btn-primary" data-ng-click="open()">Open Dialog</button>
          </div>
        </div>
        <div class="addon">
          <label>
            <span data-ng-repeat="role in personRoleMap[person['@id']]"><span data-ng-hide="$first">, </span>{{ role.label_sv }}</span>
          </label>
          <label data-ng-hide="editable">
            <button class="btn-link on-hover" data-ng-click="removeObject(subj, rel, $index)"><i class="fa fa-times"></i></button>
          </label>
          <button class="btn-link" data-ng-show="editable" data-ng-click="editable=false"><i class="fa fa-check"></i></button>
        </div>
      </div>
    </script>

    <h2>Utgivning &amp; tillverkning<i></i></h2>
    <div class="cols">
      <div class="col6" data-ng-show="instance['@type'] != 'Book'">
        <label>
          <span class="lbl">{{ "Allmän medieterm" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.mediaTerm">
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6">
        <div class="datatable" data-ng-target="isbnTable">
          <table>
            <thead>
              <tr>
                <td>
                  <!-- TODO move error handing
                  <span class="lbl_inline lbl"
                        data-ng-hide="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length">{{ "ISBN" }}</span>
                  <span class="lbl_inline lbl error_label"
                        data-ng-show="subform.isbn_name.$error.invalid_value || subform.isbn_name.$error.invalid_length">{{ "ISBN" }}</span>
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_value">(Fel numeriskt värde)</span>
                  <span class="error_message" data-ng-show="subform.isbn_name.$error.invalid_length">(Fel längd)</span>
                  -->
                  <span class="lbl">{{ "ISBN" }}</span> <!-- Labels for column {{ identifier.identifierScheme }} -->
                </td>
                <td>
                  <span class="lbl">{{ "ISBN-notering" }}</span> <!-- Labels for column {{ "Notering" }} -->
                </td>
                <td></td>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="3">
                  <button class="add-thing btn-link" data-ng-click="addObject(instance, 'identifier', 'ISBN', 'isbnTable')"><i class="fa fa-plus"></i> {{ 'Lägg till ISBN' }} </button>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr data-ng-repeat="identifier in instance.identifier">
                <td data-ng-switch on="identifier.identifierScheme">
                  <label data-ng-switch-when="ISBN">
                    <input type="text" data-inplace name="isbn_name" data-ng-model="identifier.identifierValue" placeholder="{{ identifier.identifierScheme }}" data-isbn-pattern="^$|^[0-9\-xX]*$" isbnvalidator/>
                  </label>
                  <label data-ng-switch-default>
                    <input data-inplace type="text" data-ng-model="identifier.identifierValue" placeholder="{{ identifier.identifierScheme }}"/>
                  </label>
                </td>
                <td data-ng-switch on="identifier.identifierScheme">
                  <label data-ng-switch-when="ISBN">
                    <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="identifier.identifierNote" placeholder="Notering"/>
                  </label>
                  <label data-ng-switch-default>
                    <input data-inplace class="ng-pristine ng-valid" type="text" data-ng-model="identifier.identifierNote" placeholder="Notering"/>
                  </label>
                </td>
                <td class="controls">
                  <button class="btn-link deleter" data-ng-click="removeObject(instance, 'identifier', $index)"><i class="fa fa-times"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /datatable -->
      </div><!-- /col6 -->
      <div class="col6">
        <div class="datatable" data-ng-target="publisher">
          <table>
            <thead>
              <tr>
                <td><span class="lbl">{{ "Utgivare/förlag" }}</span></td>
                <td><span class="lbl">{{ "Utgivningsplats" }}</span></td>
                <td><span class="lbl">{{ "Utgivningsår" }}</span></td>
                <td></td>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="4">
                  <button class="add-thing btn-link" data-ng-click="addObject(instance, 'publication', 'ProviderEvent', 'publisher')">
                    <i class="fa fa-plus"></i> {{ 'Lägg till utgivning' }}
                  </button>
                </td>
              </tr>
            </tfoot>
            <tbody>
              <tr data-ng-repeat="publication in instance.publication">
                <td>
                  <label>
                    <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="publication.providerName">
                  </label>
                </td>
                <td>
                  <label>
                    <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="publication.place.label">
                  </label>
                </td>
                <!-- TODO: specify type of place?
                <td>
                  <label>
                    <... data-placeholder="Välj ett land" data-ng-model="record.about.instanceOf.country" ... >
                    <span class="lbl">{{ "Utgivningsland" }}</span>
                  </label>
                </td>
                -->
                <td>
                  <label class="deletable">
                    <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="publication.providerDate">
                  </label>
                </td>
                <td class="controls">
                  <button class="btn-link on-hover" data-ng-click="removeObject(instance, 'publication', $index)">
                    <i class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!--/datatable -->
      </div><!--/col6 -->
    </div><!--/cols -->

    <div class="cols">
      <div class="col3" data-ng-show="getTypeDef(instance).term == 'Audiobook'">
        <label>
          <span class="lbl">{{ "Utgivningsnummer" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.publisherNumber">
        </label>
      </div>
    </div>

    <!-- TODO: partially toggle digital details
    <div data-ng-show="getTypeDef(instance).subClassOf != 'DigitalResource'">
    -->
    <h2>Fysisk beskrivning<i></i></h2>
    <div class="cols">
      <div class="col3">
        <label class="ng-binding">
          <span class="lbl">{{ "Omfång" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.extent">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Mått" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.dimensions">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Fysiska detaljer" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.otherPhysicalDetails">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Pris" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.availability">
        </label>
      </div>
    </div>
    <div class="cols" data-ng-show="getTypeDef(instance).subClassOf == 'DigitalResource'">
      <div class="col3">
        <label>
          <span class="lbl">{{ "Filtyp" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.fileType">
        </label>
      </div>
      <div class="col3">
        <label>
          <span class="lbl">{{ "Systemkrav" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.systemRequirements">
        </label>
      </div>
    </div>
  <h2>{{ "Anmärkningar" }}<i></i></h2>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Formaterad innehållsförteckning" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="instance.listOfContents"></textarea>
        </label>
      </div>
      <div class="col6" data-ng-show="getTypeDef(instance).term == 'Audiobook'">
        <label>
          <span class="lbl">{{ "Medverkande" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.contributorNote">
        </label>
      </div>
    </div>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Allmän anmärkning" }}</span>
          <input type="text" data-inplace class="ng-pristine ng-valid" data-ng-model="instance.note">
        </label>
      </div>
      <div class="col6"></div>
    </div>
    </ng-form>
  </section>

  <section id="subject classification" class="todo">
    <h2>Ämnesord &amp; Klassifikation<i></i></h2>
    <div class="cols"
         data-ng-include="'/partials/edit_subject'" onload="work = record.about.instanceOf">
    </div>

    <h2>{{ "Anmärkningar" }}<i></i></h2>
    <div class="cols">
      <div class="col6">
        <label>
          <span class="lbl">{{ "Sammanfattning" }}</span>
          <textarea data-inplace data-ui-jq="autosize" spellcheck="false" data-ng-model="work.summary"></textarea>
            
        </label>
      </div>
    </div>
  </section> 
  
  <section class="submit modificationinfo" data-ng-class="modifiedClasses()">
<!--post beta:
    <span class="removedraft" data-ng-show="draft" data-ng-click="promptConfirmDelete($event, draft.type, draft.id)">
      <button class="btn-link" data-ng-click="somebutton.click()"><i class="fa fa-times"></i> Ta bort utkast</button>
    </span>-->
    <button class="btn-link" id="draft" data-ng-click="saveDraft()"
      title="{{lastSavedLabel('Senast sparad: %s')}}">Spara utkast</button>
    <button class="btn btn-dark btn-submit" id="publish" data-ng-disabled="form.$invalid" data-ng-click="save()"
      title="{{lastPublishedLabel('Senast publicerad: %s')}}">Publicera</button>
    <p class="message" data-ng-show="modifications.message">{{ modifications.message }}</p>
  </section>
</form></div>

{% endraw %}
{% include "partials/edit_hld.html" %}
{% raw %}

<!-- person completion presentation -->
<script type="text/html" id="auth-completion-template">
<div class="auth">
  <h4>
    <span class="name"><%= data['controlledLabel'] %></span>
    <% if (data['authorized']) { %>
      <span class="what"><i class="fa fa-bookmark"></i>Aukt.</span>
    <% } %>
  </h4>
  <% if (data['hasAnnotation'] && data['hasAnnotation']['about']) { %>
    <ul class="about">
      <% if (Object.prototype.toString.call(data['hasAnnotation']['about']) === '[object Array]') { %> 
        <% data['hasAnnotation']['about'].forEach(function(item) { %>
          <li><%= item %></li>
        <% }); %>
      <% } else { %>
        <li><%= data['hasAnnotation']['about'] %></li>
      <% } %>
    </ul>
  <% } %>
</div>
</script>

{% endraw %}

